/* contenedor principal */
.section__main {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  flex-wrap: wrap;
}
/* contenedor targetA */
.section__producto {
  width: 16.8rem;
  height: calc(30rem - 3.8rem);
  min-width: 50px;
}
/* contenedor de imagen */
.producto__img {
  width: 16.8rem;
  height: 16.8rem;
  overflow: hidden;
}
/* contenedor de descripction */
.section__description {
  height: 7rem;
  margin-top: 1.29rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.description__precio {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.description__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
/* -----------------------------media table */
@media (max-width: 821px) {
  .section__starWars-oculto {
    display: none;
  }
  .section__consolas-nnone {
    display: none;
  }
  .section__varios-none {
    display: none;
  }
}
/* ============bobil========= */
@media (max-width: 420px) {
  .section__main {
    justify-content: space-around;
  }
}
@media (max-width: 361px) {
  .section__producto {
    width: 13rem;
  }
  .img__producto {
    width: 13rem;
  }
}
