.header__baner {
  /* width: 100vw; */
  background-image: url("../../img/banner.jpg");
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* min-width: 680px; */
  padding: 2rem;
}
.baner__content {
  background: transparent;
  color: var(--background-header);
  width: 90vw;
  height: 30rem;
  /* min-width: 680px; */
  display: flex;
  flex-direction: column;
  justify-content: end;
}
/* texto del baner */
.baner__title {
  font-size: 5.2rem;
  line-height: 61px;
  margin: 2rem 0;
}
.baner__dedsccription {
  font-size: 2.2rem;
  margin: 1rem 0px;
}
.baner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 10px;
  width: 13rem;
  height: 5.1rem;
  background: var(--aseets-color);
  color: var(--background-header);
}
.baner__button:active {
  background: var(--background-header);
  color: var(--aseets-color);
}
/* @media (max-width: 769px) {
  .header__baner {
    
   
  }
} */
