.nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--aseets-color);
  margin: 0 0 0 auto;
  width: 182px;
  height: 51px;
  font-size: 1.6rem;
  border: 1px solid #2a7ae4;
  text-decoration: none;
}

@media (hover: hover) {
  .nav__button:hover {
    background: var(--aseets-color);
    color: var(--background-header);
  }
  .nav__button:active {
    background: initial;
    color: initial;
  }
}
@media (max-width: 426px) {
  .nav__button {
    margin-left: 0;
  }
}
