.header__nav {
  background: white;
  height: 11.5rem;
  display: flex;
  justify-content: center;
  /* min-width: 680px; */
}
.nav__container {
  width: 90%;
  display: flex;
  align-items: center;
}
@media (max-width: 821px) {
  .nav__container {
    width: 95%;
  }
}
@media (max-width: 426px) {
  .nav__container {
    justify-content: space-between;
  }
}
